@media screen and (max-width: 950px) {
  .logo {
    flex-direction: row-reverse;
    justify-content: center;

    h2 {
      line-height: 1.4rem;
    }

    h2:last-child {
      display: none;
    }
  }
}

/* Tablet */
@media screen and (min-width: 501px) and (max-width: 768px) {
  .hero {
    margin-top: 40px;
    height: 120px;

    .nav {
      flex-direction: column;
      justify-content: center;
      height: 110px;
      padding: 0 50px;

      i {
        font-size: 2rem;
      }

      a {
        margin: 5px 10px;
        padding: 6px 25px;
      }
    }
  }

  body {
    .grid-container {
      grid-template: repeat(6, minmax(20vh, 1fr)) / repeat(3, minmax(5vw, 1fr));
      padding: 0 30px 0;
      gap: 15px;

      .photo-1 {
        grid-area: 1 / 1 / 2 / 2;
        background: url('pic_1.jpg') no-repeat center center/cover;
      }

      .photo-2 {
        grid-area: 1 / 2 / 3 / 4;
        background: url('pic_2.jpg') no-repeat center center/cover;
      }

      .photo-3 {
        grid-area: 5 / 1 / 7 / 3;
        background: url('pic_3.jpg') no-repeat bottom center/cover;
      }

      .photo-4 {
        grid-area: 2 / 1 / 4 / 2;
        background: url('pic_4.jpg') no-repeat center center/cover;
      }

      .photo-5 {
        grid-area: 3 / 3 / 4 / 5;
        background: url('pic_5.jpg') no-repeat center center/cover;
      }

      .photo-6 {
        grid-area: 3 / 2 / 5 / 3;
        background: url('pic_6.jpg') no-repeat center center/cover;
      }

      .photo-7 {
        grid-area: 4 / 1 / 5 / 2;
        background: url('pic_7.jpg') no-repeat center center/cover;
      }

      .photo-8 {
        grid-area: 4 / 3 / 6 / 4;
        background: url('pic_8.jpg') no-repeat center center/cover;
      }

      .photo-9 {
        grid-area: 6 / 3 / 7 / 4;
        background: url('pic_9.jpg') no-repeat center center/cover;
      }
    }

    footer {
      flex-direction: column;
      height: 110px;
      padding: 20px 50px 50px 20px;
    }
  }
}


/* Smartphones */
@media(max-width: 500px) {
  .hero {
    margin-top: 40px;
    height: 120px;

    .nav {
      flex-direction: column;
      justify-content: center;
      height: 110px;
      padding: 0 50px;

      i {
        font-size: 1.8rem;
      }

      a {
        margin: 5px 5px;
        padding: 4px 15px;
        font-size: 0.9rem;
      }
    }
  }

  body {
    .grid-container {
      grid-template: repeat(6, minmax(20vh, 1fr)) / repeat(3, minmax(5vw, 1fr));
      padding: 0 30px 0;
      gap: 15px;

      .photo-1 {
        grid-area: 1 / 1 / 2 / 2;
        background: url('pic_1.jpg') no-repeat center center/cover;
      }

      .photo-2 {
        grid-area: 1 / 2 / 3 / 4;
        background: url('pic_2.jpg') no-repeat center center/cover;
      }

      .photo-3 {
        grid-area: 5 / 1 / 7 / 3;
        background: url('pic_3.jpg') no-repeat bottom center/cover;
      }

      .photo-4 {
        grid-area: 2 / 1 / 4 / 2;
        background: url('pic_4.jpg') no-repeat center center/cover;
      }

      .photo-5 {
        grid-area: 3 / 3 / 4 / 5;
        background: url('pic_5.jpg') no-repeat center center/cover;
      }

      .photo-6 {
        grid-area: 3 / 2 / 5 / 3;
        background: url('pic_6.jpg') no-repeat center center/cover;
      }

      .photo-7 {
        grid-area: 4 / 1 / 5 / 2;
        background: url('pic_7.jpg') no-repeat center center/cover;
      }

      .photo-8 {
        grid-area: 4 / 3 / 6 / 4;
        background: url('pic_8.jpg') no-repeat center center/cover;
      }

      .photo-9 {
        grid-area: 6 / 3 / 7 / 4;
        background: url('pic_9.jpg') no-repeat center center/cover;
      }
    }

    footer {
      flex-direction: column;
      height: 110px;
      padding: 20px 50px 50px 20px;

      i {
        font-size: 1.5rem;
        margin-top: 10px
      }
    }
  }
}




//////////
// TEST //
//////////
/// 
/// 
/// 
//////////
// TEST //
//////////